html
{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    padding-top: 10px;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navSpace
{
    padding: 5px;
    text-align: center;
    vertical-align: center;
}
/* NavBar Animations */
.navbar {
    background-color: transparent;
    height: 50px;
    transition: background-color 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
}

.brand-logo {
    width: 200px;
    transition: width 0.5s ease; /* Animación de cambio de tamaño */
    max-height: none;
    object-fit: contain; 
    position: absolute;
    top: 10px;
}

.scrolled .brand-logo {
    width: 50px;
    top: -10px;
}
@media (max-width: 992px) {
    .navbar-nav.ms-auto.mb-2.mb-lg-0.align-items-center.d-flex {
        position: relative;
        top: -30px;
    }
}
body
{
    background-color: #F7F7F7 !important;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padding20
{
    padding-top: 20px;
}
.imgCenter
{
    text-align: center;
}
.txtJustify
{
    text-align: justify;
}
/*Footer*/
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
footer {
    background-color: #000;
    color: #FFFF;
    width: 100vw;
    padding: 10px 0;
    position: relative;
}